<div class="footer-container">

    <!-- Main container for the footer -->
    <div class="footer-content">

      <!-- Left section with logos etc. -->
      <div class="left-section">
        <div class="logo-tagline">
          <span class="brand-name">Cake Fantasy</span>
          <p class="tagline">Availability at Your Request</p>
        </div>
      </div>
  
      <!-- Center section for navigation links -->
      <div class="center-links">
        <a href="#dashboard" class="spaced-link">Dashboard</a>
        <a href="#help" class="spaced-link">Help</a>
        <a href="#settings" class="spaced-link">Settings</a>

      </div>
  
      <!-- Right section with contact details, Social media links -->
      <div class="right-contact">
        <p style="font-size: 17px; font-weight: bold;">Contact Us</p>
        <p>Email: cakefantasy&#64;gmail.com</p>
        <p>Tel: 011 234 5678</p>
        <p>Mobile: +94 77 654 3210</p>
        <div class="social-media">
          <a href="https://www.facebook.com/profile.php?id=100064335452684&mibextid=ZbWKwL"><img src="https://cdn-icons-png.flaticon.com/128/2504/2504903.png" sizes="40 px"></a>
          <a href="https://www.instagram.com"><img src="https://cdn-icons-png.flaticon.com/128/2111/2111463.png"/></a>
          <a href="https://www.twitter.com"><img src="https://cdn-icons-png.flaticon.com/128/3256/3256013.png"/></a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© 2024 TrackWare Technologies, Inc. All Rights Reserved.</p>
    </div>
  </div>