.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ee8254;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  box-shadow: 0 7px 3px -3px #12121230;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span{
  font-size: 17px;
  width: 260px;
}

.logo img {
  height: 45px;
  /* Adjust as necessary */
  margin-right: 10px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile span {
  margin-right: 30px;
}

.header-right {
  display: flex;
  margin-left: 900px;
  font-size: 17px;
  width: 230px;
}