.container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 100%;
  margin-top: 20px; 
}

h1 {
  text-align: center; 
  margin-bottom: 20px;
  margin-top: 20px; 
  font-size: 30px;
}

.table-responsive {
  display: flex;
  justify-content: center;
  width: 100%;
}

table {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
  background-color: hsla(33, 87%, 91%, 0.8);
  font-family: sans-serif;
  margin-left:85px;
  margin-right: 85px;
}

thead th {
  background-color: #d96426; 
  text-align: left;
  padding: 10px;
  border: none;
}

tbody tr:hover {
  background-color: hsla(33, 94%, 79%, 0.8);
}

button {
  margin-right: 25px;
  background-color: hsl(12, 77%, 20%);
  color: white; /* Set the text color to white */
  border-radius: 15px;
  font-size: 15px;
  border: none; /* Optional: Removes the default button border */
  padding: 10px 15px; /* Optional: Adjust padding for better button size */
  color: white;
}

button:hover {
  background-color: hsl(12, 77%, 30%);

}
button:hover{
  background-color: hsl(12, 77%, 30%);
}
