<h1><b>UPDATE/DELETE ITEMS FROM INVENTORY</b></h1>

<div class="demo-button-container"></div>

<div class="table1">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="itemname">
      <th mat-header-cell *matHeaderCellDef> Item Name </th>
      <td mat-cell *matCellDef="let element"> {{element.itemname}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="priceunit">
      <th mat-header-cell *matHeaderCellDef> Unit Price </th>
      <td mat-cell *matCellDef="let element"> {{element.priceunit}} </td>
    </ng-container>

    <ng-container matColumnDef="quantityinstock">
      <th mat-header-cell *matHeaderCellDef> Quantitystock</th>
      <td mat-cell *matCellDef="let element"> {{element.quantityinstock}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="addeddate">
      <th mat-header-cell *matHeaderCellDef> Added Date </th>
      <td mat-cell *matCellDef="let element"> {{element.addeddate}} </td>
    </ng-container>

    <!-- Actions Column (Update/Delete) -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="onUpdate(element)">Update</button>
        <button mat-button color="warn" (click)="onDelete(element)">Delete</button>
      </td>
    </ng-container>
  
    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

