<div class= 'Container'> 

<h1><b>UPDATE/DELETE ITEMS FROM INVENTORY</b></h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Item Name</th>
        <th>Unit Price</th>
        <th>Quantity in Stock</th>
        <th>Description</th>
        <th>Added Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
     
      <tr *ngFor="let element of dataSource">
        <td>{{ element.id }}</td>
        <td>{{ element.category }}</td>
        <td>{{ element.itemname }}</td>
        <td>{{ element.priceunit }}</td>
        <td>{{ element.quantityinstock }}</td>
        <td>{{ element.description }}</td>
        <td>{{ element.addeddate | date }}</td>
        <td>
          <button class="primary" (click)="onUpdate(element)">Update</button>
          <button class="danger" (click)="onDelete(element)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>