.registration-container {
    background-image: url('./login-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    height: 800px;
    width: 100%;
}

.form-container {
    background-color: #efe8e4;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    margin-top: 90px;
    /* margin-left: 600px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;

}

.topic-signup{
    margin: 0;
}

.topic-signup h1 {
    margin-bottom: 10px;
    color: hsl(4, 69%, 18%);
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.topic-signup h4{
    color: hsl(4, 69%, 18%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-group label {
    margin-bottom: 10px;
    color: #4c331a;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-control {
    border: 1px solid #a5673f;
    border-radius: 10px;
    padding: 10px;
    color: #4c331a;
    font-size: 15px;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}

.btn {
    background-color: hsl(12, 77%, 20%);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.btn:hover {
    background-color: hsl(12, 77%, 30%);
}

.signup{
    text-align: center;
    padding-top: 10px;
}

.btn-signup{
    background-color: #efe8e4;
    border: 2px solid hsl(12, 77%, 20%);
    color: hsl(12, 77%, 20%);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    /* display: block; */
    padding: 5px;
}