<div class="registration-container"></div>
<div class="form-container" appearance="outlined">
  <div class="topic-signup">
    <h1>Sign Up</h1>
    <h4>Create your account</h4>
  </div>

  <!-- {{ userForm.value | json }} -->
  <hr />
  <!-- {{ userModel | json }} -->
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label for="firstname">First name: </label>
      <input
        type="text"
        class="form-control"
        placeholder="Ex:- Mishel"
        [(ngModel)]="userModel.firstname"
        name="firstname"
      />
    </div>

    <div class="form-group">
        <label for="lastname">Last name: </label>
        <input
          type="text"
          class="form-control"
          placeholder="Ex:- Fernando"
          [(ngModel)]="userModel.lastname"
          name="lastname"
        />
      </div>

      <div class="form-group">
        <label for="email">E-mail: </label>
        <input
          type="text"
          class="form-control"
          placeholder="Ex:- mishel@gmail.com"
          [(ngModel)]="userModel.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="">Username: </label>
        <input
          type="text"
          class="form-control"
          placeholder="Ex:- Mish123"
          [(ngModel)]="userModel.username"
          name="username"
        />
      </div>

    <div class="form-group">
      <label for="">Password: </label>
      <input
        type="password"
        class="form-control"
        placeholder="Ex:- 123456"
        [(ngModel)]="userModel.password"
        name="password"
      />
    </div>

    <div class="form-group">
      <label for="">City: </label>
      <input
        type="text"
        class="form-control"
        placeholder="Ex:- Negombo"
        [(ngModel)]="userModel.city"
        name="city"
      />
    </div>

    <div class="form-group">
      <label for="">Contact No: </label>
      <input
        type="text"
        class="form-control"
        placeholder="Ex:- 0712345678"
        [(ngModel)]="userModel.telno"
        name="telno"
      />
    </div>

    <button class="btn" type="submit">Sign Up</button>

    <div class="signup">
      <label>Already have an account? </label>
      <button class="btn-signup">Log In</button>
    </div>
  </form>
</div>
