<div>
  <!-- Container for the overall registration page -->
  <div class="registration-container"></div>
  
  <!-- Container for the form with an outlined appearance -->
  <div class="form-container" appearance="outlined">
    
    <!-- Left container for displaying an image -->
    <div class="left-container">
      <img src="../../../assets/b2.jpg" alt="" />
    </div>

    <!-- Content section containing the signup form -->
    <div class="content">
      
      <!-- Section for the sign-up topic and introduction -->
      <div class="topic-signup">
        <h1>Sign Up</h1>
        <h3>Create your account</h3>
      </div>

      <hr />

      <!-- Signup form with validation and two-way binding -->
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        
        <!-- Section for user's name input fields -->
        <div class="name">
          <!-- Input field for first name -->
          <div class="form-group">
            <label for="firstname">First name: </label>
            <input
              type="text"
              class="form-control1"
              required
              placeholder="Ex:- Mishel"
              [(ngModel)]="userModel.firstname"
              name="firstname"
            />
            <div *ngIf="validationErrors.firstname" class="error">
              {{ validationErrors.firstname }}
            </div>
          </div>
  
          <!-- Input fiekd for last name -->
          <div class="form-group">
            <label for="lastname">Last name: </label>
            <input
              type="text"
              class="form-control1"
              required
              placeholder="Ex:- Fernando"
              [(ngModel)]="userModel.lastname"
              name="lastname"
            />
            <div *ngIf="validationErrors.lastname" class="error">
              {{ validationErrors.lastname }}
            </div>
          </div>
  
        </div>
        
        <!-- Input for email -->
        <div class="form-group">
          <label for="email">E-mail: </label>
          <input
            type="text"
            class="form-control"
            required
            placeholder="Ex:- mishel@gmail.com"
            [(ngModel)]="userModel.email"
            name="email"
          />
          <div *ngIf="validationErrors.email" class="error">
            {{ validationErrors.email }}
          </div>
        </div>

        <!-- Input for username -->
        <div class="form-group">
          <label for="">Username: </label>
          <input
            type="text"
            class="form-control"
            required
            placeholder="Ex:- Mish123"
            [(ngModel)]="userModel.username"
            name="username"
          />
          <div *ngIf="validationErrors.username" class="error">
            {{ validationErrors.username }}
          </div>
        </div>

         <!-- Input for password -->
        <div class="form-group">
          <label for="">Password: </label>
          <input
            type="password"
            class="form-control"
            required
            placeholder="Ex:- 123456"
            [(ngModel)]="userModel.password"
            name="password"
          />
          <div *ngIf="validationErrors.password" class="error">
            {{ validationErrors.password }}
          </div>
        </div>

        <!-- Input for city -->
        <div class="form-group">
          <label for="">City: </label>
          <input
            type="text"
            class="form-control"
            required
            placeholder="Ex:- Negombo"
            [(ngModel)]="userModel.city"
            name="city"
          />
          <div *ngIf="validationErrors.city" class="error">
            {{ validationErrors.city }}
          </div>
        </div>

        <!-- Input for contact number -->
        <div class="form-group">
          <label for="">Contact No: </label>
          <input
            type="text"
            class="form-control"
            required
            placeholder="Ex:- 0712345678"
            [(ngModel)]="userModel.telno"
            name="telno"
          />
          <div *ngIf="validationErrors.telno" class="error">
            {{ validationErrors.telno }}
          </div>
        </div>

        <!-- Submit button for the signup form -->
        <button class="btn" type="submit">Sign Up</button>

        <!-- Link to the login page if the user already has an account -->
        <div class="signup">
          <label>Already have an account? </label>
          <button class="btn-signup" (click)="navigateToLogin()">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>
