<div class="headding">
  <h1><b>VIEW ALL ORDERS</b></h1>
</div>


<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer ID</th>
        <th>Amount</th>
        <th>Ordered Date</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of dataSource">
        <td>{{ element.id }}</td>
        <td>{{ element.customerId }}</td>
        <td>{{ element.amount }}</td>
        <td>{{ element.date | date }}</td>
      </tr>
    </tbody>
  </table>
</div>