<div class="dashboard-container">
  <div class="dashboard-header">
    <h1 class="title">Welcome To Cake Fantasy!</h1>

    <p>
      Keep operations running smoothly as you oversee orders, <br />
      suppliers, and more. Let’s make sure every ingredient <br />
      is in place for our customers to create something truly delicious! <br />
      Behind every perfect cake is a recipe for success— <br />
      welcome to the place where every ingredient counts!
    </p>
  </div>
  <div class="image">
    <img
      src="../../../assets/admin-landing-page.png"
      alt="welcomeImage"
      class="welcomeImage"
    />
  </div>
</div>
<div class="dashboard-body">
  <div class="summary-cards">
    <div class="card">
      <div class="card-content">
        <span class="card-number">{{customerCount}}</span>
        <span class="card-label">Customers</span>
        <!-- <span class="icon"><img src="../../../assets/customer.png" alt=""></span> -->
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-number">3</span>
        <span class="card-label">Product Categories</span>
        <!-- <span class="icon"><img src="../../../assets/customer.png" alt=""></span> -->
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-number">{{productCount}}</span>
        <span class="card-label">Products</span>
        <!-- <span class="icon"><img src="../../../assets/customer.png" alt=""></span> -->
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-number">{{orderCount}}</span>
        <span class="card-label">Orders</span>
        <!-- <span class="icon"><img src="../../../assets/customer.png" alt=""></span> -->
      </div>
    </div>
  </div>

  <div class="dashboard-table">
    <h2>Customer Details</h2>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Customer ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
          <th scope="col">City</th>
          <th scope="col">Contact Number</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let customer of customers">
          <th scope="row">{{ customer.id }}</th>
          <td>{{ customer.firstname }}</td>
          <td>{{ customer.lastname }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.username }}</td>
          <td>{{ customer.city }}</td>
          <td>{{ customer.telno }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
