
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 30px; 
    color: #3C241D; 
    text-align: center; 
    margin: 20px 0 30px; 
    font-weight: bold;
}

.mb-3 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 20px 0; 
    font-size: 20px; 
    
}

.radio-group {
    display: flex; 
    gap: 20px; 
    margin-top: 10px; 
}


    .form-check {
        display: flex;
        flex-direction: row;
        padding: 10px;
        margin-left: 20px;
        border-radius: 5px;
        background:hsla(33, 87%, 91%, 0.8);
        font-size: 15px;
        width: 200px;
        justify-content: center;
        border: 2px solid #d96426; 
    }


.form-check-input {
    transform: scale(1.2);
    margin-right: 120px;
}

.form-check-label {
    font-size: 15px; 
}

.form-group {
    display: flex; 
    justify-content: center; 
    margin:15px;
   
}

.form-control {
    width: 400px; 
    height: 40px; 
    font-size: 16px; 
    padding: 10px; 
    border: 2px solid #6F4C3E;
    border-radius: 5px; 
    background: hsla(33, 87%, 91%, 0.8);
    color:hsl(21, 95%, 22%);
}

.search-button {
    background-color: hsl(4, 69%, 18%);
    color: white; 
    font-size: 15px; 
    margin-left: 10px ;
    padding: 8px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: hsl(21, 95%, 32%)
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
    margin-top: 20px; 
  }
  
  .table-responsive {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  table {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    background-color: hsla(33, 87%, 91%, 0.8);
    font-family: sans-serif;
    margin-left:85px;
    margin-right: 85px;
  }
  
  thead th {
    background-color: #d96426; 
    text-align: left;
    padding: 10px;
    border: none;
  }
  
  tbody tr:hover {
    background-color: hsla(33, 94%, 79%, 0.8);
  }