<div class="headding">
  <h1><b>PLACE YOUR ORDER HERE</b></h1>
</div>

<div class="inventory-container">
  <div class="form-container">
    <!-- Cake Ingredients Section -->

    <div class='Ingredients-section'>
      <label for="ingredients-select">Cake Ingredients</label>
      <select id="ingredients-select" [(ngModel)]="selectedIngredient">
        <option *ngFor="let ingredient of cakeIngredients" [ngValue]="ingredient">
          {{ ingredient.itemname }}
        </option>
      </select>

      <label for="ingredient-quantity">Quantity</label>
      <input id="ingredient-quantity" type="number" [(ngModel)]="ingredientQuantity" min="0"
        #ingredientQuantityModel="ngModel">

      <button (click)="addIngredient()" [disabled]="ingredientQuantity <= 0">Add Ingredient</button>
    </div>

    <!-- Cake Tools Section -->

    <div class='tools-section'>
      <label for="tools-select">Cake Tools</label>
      <select id="tools-select" [(ngModel)]="selectedTool">
        <option *ngFor="let tool of cakeTools" [ngValue]="tool">
          {{ tool.itemname }}
        </option>
      </select>

      <label for="tool-quantity">Quantity</label>
      <input id="tool-quantity" type="number" [(ngModel)]="toolQuantity" min="0" #toolQuantityModel="ngModel">

      <button (click)="addTool()" [disabled]="toolQuantity <= 0">Add Tool</button>
    </div>

    <!-- Party Items Section -->

    <div class='Items-section'>
      <label for="party-items-select">Party Items</label>
      <select id="party-items-select" [(ngModel)]="selectedPartyItem">
        <option *ngFor="let item of partyItems" [ngValue]="item">
          {{ item.itemname }}
        </option>
      </select>

      <label for="party-item-quantity">Quantity</label>
      <input id="party-item-quantity" type="number" [(ngModel)]="partyItemQuantity" min="0"
        #toolQuantityModel="ngModel">

      <button (click)="addPartyItem()" [disabled]="partyItemQuantity <= 0">Add Party Item</button>
    </div>

    <!-- Place Order Button -->
    <button (click)="placeOrder()">Order</button>
  </div>

  <!-- Table to Show Selected Items -->
  <div class="table-container">
    <h5>Selected Items</h5>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price (Rs.)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of itemDataSource; let i = index">
          <td>{{ element.name }}</td>
          <td>{{ element.quantity }}</td>
          <td>{{ element.price }}</td>
          <td>
            <button (click)="removeItem(i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>


      
  </div>
</div>

<div class='Price'>
  <label>Total Price : Rs.{{ calculateTotalPrice() }}</label>
</div>