/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fff8dc;
}

h1 {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #5c4033;
    font-size: 40px;
    margin-bottom: 10px;
}

button {
    width: 100px;
    height: 80px;
    background-color: hsl(4, 69%, 18%);
    color: white;
    border: none;
    padding: 20px; 
    font-size: 14px; 
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: hsl(4, 69%, 28%);
    transform: translateY(-2px);
}

.inventory-container {
    width: 90%;
    display: flex;
    justify-content: space-around; /* Adjusted spacing */
    margin-right: 20px; /* Reduced margin top */
    padding: 25px;
}

/* Form and Table Containers */
.form-container, .table-container {
    width: 250px;
    background-color: #fff;
    border: 1px solid #d2b48c;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    font-size: small;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container mat-form-field {
    height: 100px;
    width: 200px;
    margin: 10px ;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-container mat-form-field,
.form-container input[type="number"]
 {
    flex: 1;
    margin: 0 10px; 
    width:180px;

}
.form-container mat-datepicker-toggle{
    width: 40%;
}

.table-container table {
    margin: 15px 0;
    padding: 15px;
    border-collapse: collapse;
    background-color: #f5f5dc;
    border: 1px solid #a0522d;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

th {
    background-color: #8b4513;
    color: black;
    padding: 8px 10px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #a0522d;
    font-size: 15px;
}

td {
    padding: 8px 12px;
    border-bottom: 1px solid #d2b48c;
    background-color: #f5f5dc;
    color: #5c4033;
    font-size: 15px;
}

tr:hover td {
    background-color: #efe8e4;
}


.table-container td, .table-container th {
    text-align: center;
}

.table-container table {
    margin-left: auto;
    margin-right: auto;
}

#OrderBtn {
    text-align: center;
    margin: 0 10px; 
    width:180px;
}

.form-container mat-label {
    width: 10%;
    font-size: 15px;
    text-align: center;
}

.form-container button{
    margin-left: 10px;
    width:180px;
    height: 80px;
}