<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- Sidebar -->
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action">Inventory</a>
        <a href="#" class="list-group-item list-group-item-action">Sales Orders</a>
        <a href="#" class="list-group-item list-group-item-action">Suppliers</a>
        <a href="#" class="list-group-item list-group-item-action active">Reports</a>
      </div>
    </div>
    <div class="col-md-10">
      <!-- Main Content -->
      <div class="row">
        <div class="col-12">
          <app-reports></app-reports> 
        </div>
      </div>
    </div>
  </div>
</div>
