/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fff8dc; 
  }
  
  /* Center the Heading */
  h1 {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    text-align: center; 
    color: #5c4033; 
    font-size: 50px; 
    margin-bottom: 20px;
  }
  
  /* Button Container Styling */
  .demo-button-container{
    padding: 12pX;
    text-align: left; 
    margin-bottom: 10px; 
  }
  
  /* Button Styling */
  button {
    background-color: #8b4513; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin-right: 10px; 
  }
  
  button:hover {
    background-color: #a0522d; 
    transform: translateY(-2px); 
  }
  
  button:active {
    background-color: #5c4033; 
    transform: translateY(0); 
  }
  

  .table1{
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
  }
  
  /* Table Styling */
  table {
    border-radius: 250px;
    padding: 100px;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #f5f5dc; 
    border: 1px solid #a0522d; 
    border-radius: 5px; 
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  }
  
  
  th {
    background-color: #8b4513; 
    color: black; 
    padding: 12px 15px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #a0522d; 
    font-size: 25px;
  }
  
  
  td {
    padding: 10px 15px;
    border-bottom: 1px solid #d2b48c; 
    background-color: #f5f5dc; 
    color: #5c4033; 
    font-size: 25px;
  }
  

  tr:hover td {
    background-color: #deb887; 
  }