/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #fff8dc;
}

/* Center the Heading */
h1 {
  padding: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: hsl(0, 0%, 10%);
  font-size: 40px;
  margin-bottom: 20px;
}

.table1 {
  padding-top: 5px;
  padding-right: 85px;
  padding-bottom: 30px;
  padding-left: 85px;
}

/* Table Styling */
/* table {
  border-radius: 250px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #f5f5dc;
  border: 1px solid #a0522d;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
} */

table{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
  border: 1px solid hsl(14, 97%, 35%);
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
  background-color: hsla(33, 87%, 91%, 0.8);
  font-family: sans-serif;
  font-size: 17px;
}

th {
  background-color: #8b4513;
  color: black;
  padding: 12px 15px;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #a0522d;
}


td {
  padding: 10px 15px;
  border-bottom: 1px solid #d2b48c;
  background-color: #f5f5dc;
  color: #5c4033;
  font-family: sans-serif;
}


tr:hover td {
  background-color: #deb887;
}