<div class="dashboard-container">
    <div class="dashboard-header">
        <h1 class="title">Welcome To Cake Fantasy!</h1>
        
        <p>Discover the finest ingredients to sweeten your baking experience. <br>
        Explore our wide selection of quality products, carefully sourced to <br>
        bring the best flavors to your creations. Let’s bake something sweet together!</p> 
    </div>
    <div class="image">
        <img src="../../../assets/customer-landingpage1.png" alt="welcomeImage" class="welcomeImage">
    </div>
</div>