.header{
    flex-shrink: 0;
}

.container{
   
    width: 100%;
    min-height: 200px;
    padding: 0;
}

.navbar{
    max-height: max-content;
    padding: 0;
}

.outlet{
overflow-y: auto;
height: 100%;
}

.footer{
    flex-shrink: 0;
}