<div class="sidebar">
    <div class="section">
      <h3>GENERAL</h3>
    </div>
  
    <div class="section">
      <h3 style="font-weight: bold">Inventory</h3>
      <ul>
        <li><a href="#">View Inventory</a></li>
        <li><a href="#">Search Inventory</a></li>
      </ul>
    </div>
  
    <div class="section">
      <h3 style="font-weight: bold">Sales Orders</h3>
      <ul>
        <li><a href="#">Place an Order</a></li>
      </ul>
    </div>
  
    <div class="section">
      <h3 style="font-weight: bold">SUPPORT</h3>
      <ul>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
  </div>
  