<div class="sidebar">
    <div class="section">
      <h3>GENERAL</h3>
      <ul>
        <div (click)="navigateToDashboard()">
          <li>Dashboard</li>
        </div>
      </ul>
    </div>
  
    <div class="section">
      <h3 style="font-weight: bold">Inventory</h3>
      <ul>
        <div (click)="navigateToViewInventory()">
          <li>View Inventory</li>
        </div>
        
        <div (click)="navigateToSearchInventory()">
          <li>Search Inventory</li>
        </div>
      </ul>
    </div>
  
    <div class="section">
      <h3 style="font-weight: bold">Sales Orders</h3>
      <ul>
        <div (click)="navigateToOrderInventory()">
          <li>Place an Order</li>
        </div>
        
      </ul>
    </div>
  
    <div class="section">
      <h3 style="font-weight: bold">SUPPORT</h3>
      <ul>
        <div>
          <li>Settings</li>
        </div>
      </ul>
    </div>
  </div>
  