<!-- <div class="sidebar">
    <h3>GENERAL</h3>
    <a href="#profile">Profile</a>
    <a href="#inventory">Inventory</a>
    <div class="submenu">
      <a href="#add-inventory">Add Inventory</a>
      <a href="#update-delete-inventory">Delete/Update Inventory</a>
      <a href="#view-inventory">View Inventory</a>
      <a href="#search-inventory">Search Inventory</a>
    </div>
    
    <a href="#sales-orders">Sales Orders</a>
    <a href="#reports">Reports</a>
    
    <h3>SUPPORT</h3>
    <a href="#help">Help</a>
    <a href="#settings">Settings</a>
  </div> -->

  <div class="sidebar">
    <div class="section">
      <h3>GENERAL</h3>
    </div>
  
    <div class="section">
      <h3 style="font-weight: bold;">Inventory</h3>
      <ul>
        <li><a href="#">Add Inventory</a></li>
        <li><a href="#">Delete/Update Inventory</a></li>
        <li><a href="#">View Inventory</a></li>
        <li><a href="#">Search Inventory</a></li>
      </ul>
    </div>
  
    <div class="section">
      <h3 style="font-weight: bold;">Sales Orders</h3>
      <ul>
        <li><a href="#">View Orders</a></li>
      </ul>
    </div>
  
    <div class="section">
      <h3 style="font-weight: bold;">Reports</h3>
      <ul>
        <li><a href="#">Reports</a></li>
      </ul>
    </div>
  
    <div class="section">
      <h3 style="font-weight: bold;">SUPPORT</h3>
      <ul>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
  </div>
  