.sidebar {
    width: 250px;
    height: 663px;
    background-color: hsl(18, 81%, 77%, 60%);
    /* Match the background color */
    padding: 20px;
    font-family: sans-serif;
    box-shadow: 5px 0 3px -3px hsl(15, 26%, 74%);
}

.section {
    margin-bottom: 25px;
    cursor: pointer;
}

.section h3 {
    font-size: 18px;
    color: hsl(0, 0%, 20%);
    margin-bottom: 15px;
    font-family: sans-serif;
}

.section ul {
    list-style-type: none;
    padding-left: 15px;
    margin: 0;
}

.section ul li {
    /* margin-bottom: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #333333;
    text-decoration: none;
    font-weight: normal;
}

.section ul li:hover {
    text-decoration: none;
    font-size: 17px;
}

.active{
    color: hsl(0, 0%, 30%);
}