<div class="sidebar">
  <div class="section">
    <h3>GENERAL</h3>
  </div>

  <div class="section">
    <h3 style="font-weight: bold">Inventory</h3>
    <ul>
      <div class="pagelinks" (click)="navigateToAddInventory()">
        <li>Add Inventory</li>
      </div>

      <div (click)="navigateToUpdateInventory()">
        <li>Delete/Update Inventory</li>
      </div>
      
      <div (click)="navigateToViewInventory()">
        <li>View Inventory</li>
      </div>
      
      <div (click)="navigateToSearchInventory()">
        <li>Search Inventory</li>
      </div>
    </ul>
  </div>

  <div class="section">
    <h3 style="font-weight: bold">Sales Orders</h3>
    <ul>
      <div (click)="navigateToViewOrders()">
        <li>View Orders</li>
      </div>
    </ul>
  </div>

  <div class="section">
    <h3 style="font-weight: bold">Reports</h3>
    <ul>
      <div (click)="navigateToReports()">
        <li>Reports</li>
      </div>
    </ul>
  </div>

  <div class="section">
    <h3 style="font-weight: bold">SUPPORT</h3>
    <ul>
      <div>
        <li>Settings</li>
      </div>
    </ul>
  </div>
</div>
