<h1>UPDATE ITEM IN THE INVENTORY</h1>

<div class="container-fluid">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

    <label>Category</label>
    <div class="mb-3">
      

      <div class="form-check">
        <input type="radio" class="form-check-input" name="Category" [(ngModel)]="product.category" value="Cake Ingredients">
        <label class="form-check-label">Cake Ingredients</label>
      </div>

      <div class="form-check">
        <input type="radio" class="form-check-input" name="Category" [(ngModel)]="product.category" value="Cake Tools">
        <label class="form-check-label">Cake Tools</label>
      </div>

      <div class="form-check">
        <input type="radio" class="form-check-input" name="Category" [(ngModel)]="product.category" value="Party Items">
        <label class="form-check-label">Party Items</label>
      </div>
    </div>

    <div class="form-group">
      <label>Item Name</label>
      <input type="text" class="form-control" name="itemname" [(ngModel)]="product.itemname">
    </div>

    <div class="form-group">
      <label>Unit Price</label>
      <input type="number" name="priceunit" class="form-control" min='0' [(ngModel)]="product.priceunit">
    </div>

    <div class="form-group">
      <label>Quantity In Stock</label>
      <input type="number" name="quantityinstock" class="form-control" min='0'  [(ngModel)]="product.quantityinstock">
    </div>

    <div class="form-group">
      <label>Description</label>
      <input type="text" name="description" class="form-control" [(ngModel)]="product.description">
    </div>

    <div class="form-group">
      <label>Added date</label>
      <input type="date" name="addeddate" class="form-control" [(ngModel)]="product.addeddate">
    </div>

    <button class="btn btn-primary" type="submit">Update Item</button>
    <button class="btn btn-secondary" type="button" (click)="onCancel()">Cancel</button>
  </form>
</div>
