.container-fluid {
    background-color: #efe8e4; 
    padding: 40px; 
    border-radius: 15px;
    width: 800px; 
    margin: auto;
    font-size: 30px; 
    box-shadow: 50px;
}

h1 {
    text-align: center;
    color: #5b1c0c;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 30px;  
}

.mb-3 {
    padding: 15px;  
    border: 1px solid #210806; 
    border-radius: 10px;  
    display: flex;
    justify-content: space-between;  
    align-items: center;
    font-size: 25px; 
}

.form-check {
    display: inline-block;
    margin-right: 20px; 
    font-size: inherit; 
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;  
    font-size: inherit; 
}

.form-group label {
    margin-bottom: 10px;  
    color: #5b1c0c; 
    font-weight: bold;
    font-size: inherit; 
}

.form-check-input {
    transform: scale(1.5); /* Increase the size of the radio buttons */
    margin-right: 10px;  
    font-size: 20px; 
}

.form-control {
    border: 1px solid #210806; 
    border-radius: 10px;  
    padding: 10px;  
    color: #5b1c0c; 
    font-size: inherit; 
    width: 100%;  
    box-sizing: border-box;  
}

.btn {
    background-color:hsl(4, 69%, 18%);
    ; 
    border: none;
    padding: 15px 25px; 
    color: white;
    font-size: inherit; 
    cursor: pointer;
    border-radius: 10px;  
    display: block;
    width: 100%;  
    margin-top: 30px;  
}

.btn:hover {
    background-color: hsl(4, 69%, 28%);
    ; 
}

input[type="radio"] {
    margin-left: 5px;
    font-size: inherit; 
}

label {
    font-family: Arial, sans-serif;
    font-size: inherit; 
}